<h1>Gimnasios</h1>

<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
          (keyup)="filterResults($event)"
          (search)="clearFilter()"
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button class="button accept" [routerLink]="['insert']">
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="card">
  <table mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.idGym }}
      </td></ng-container
    >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td></ng-container
    >
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">
        {{ element.code }}
      </td></ng-container
    >
    <!-- RUC Column -->
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>RUC</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ruc }}
      </td></ng-container
    >
    <!-- RS Column -->
    <ng-container matColumnDef="rs">
      <th mat-header-cell *matHeaderCellDef>Razón social</th>
      <td mat-cell *matCellDef="let element">
        {{ element.rs }}
      </td></ng-container
    >
    <!-- Edit Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-radio-button
        [value]="element.idGym.toString()"
        (change)="selectGym(element)"
        [checked]="selectedRadioValue === element.idGym.toString()"
      ></mat-radio-button>
        <button mat-icon-button color="primary" [routerLink]="['update', element.idGym]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeletePopup(element.idGym)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="row.hide || row.hide === undefined"></tr>
  </table>

  <mat-paginator
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>

<div *ngIf="selectedGym" style="text-align: center;">
  <h3>Gimnasio elegido: {{ selectedGym.name }}</h3>
</div>

</div>
