<h1>Gimnasios</h1>

<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
          (keyup)="filterResults($event)"
          (search)="clearFilter()"
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button class="button accept" [routerLink]="['gym-insert']">
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="card">
  <table mat-table [dataSource]="dataSource" class="mat gym-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.idGym }}
      </td></ng-container
    >
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nameGym }}
      </td></ng-container
    >
    <!-- Code Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">
        {{ element.codeGym }}
      </td></ng-container
    >
    <!-- RUC Column -->
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>RUC</th>
      <td mat-cell *matCellDef="let element">
        {{ element.rucGym }}
      </td></ng-container
    >
    <!-- RS Column -->
    <ng-container matColumnDef="razon">
      <th mat-header-cell *matHeaderCellDef>Razón social</th>
      <td mat-cell *matCellDef="let element">
        {{ element.rsGym }}
      </td></ng-container
    >
    <!-- Edit Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" [routerLink]="['gym-update', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openConfirmationDialog(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>

</div>
