<div class="card">
  <div class="card-head">Registrar gimnasio</div>
  <div class="card-body">
    <form [formGroup]="form" (submit)="accept()">
      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id" required />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Titulo</mat-label>
        <input
          matInput
          placeholder="Titulo"
          formControlName="titleNutritionalPlan"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Estado</mat-label>
        <mat-select
          placeholder="Estado"
          formControlName="statusNutritionalPlan"
          required
        >
          <mat-option value="Activo">Activo</mat-option>
          <mat-option value="Inactivo">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Objetivo</mat-label>
        <input
          matInput
          placeholder="Objetivo"
          formControlName="objectiveNutritionalPlan"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Descripcion</mat-label>
        <textarea
          matInput
          placeholder="Descripcion"
          formControlName="descriptionNutritionalPlan"
          required
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Inicio de Plan</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Elija una fecha"
          formControlName="startDateNutritionalPlan"
          [max]="maxFecha"
          required
          (dateChange)="updateEndDate($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Fin de Plan</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="Elija una fecha"
          formControlName="endDateNutritionalPlan"
        />
        <mat-datepicker-toggle
          disabled
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-right: 20rem; width: 100%">
        <mat-label>Recomendaciones</mat-label>
        <textarea
          matInput
          placeholder="Recomendaciones"
          formControlName="recommendationsNutritionalPlan"
          required
        ></textarea>
      </mat-form-field>

      <button class="button accept" type="submit">Agregar</button>
      <button class="button cancel" routerLink="/dashboard/nutritional-plans">
        Cancelar
      </button>
    </form>
  </div>
</div>
