<div class="vh-100 d-flex align-items-center">
  <div class="container">
    <mat-card class="card">
      <mat-card-title>
        <img
          class="logo"
          src="../../../../assets/gp_logo.png"
          alt="Logo circular"
        />
        <div class="row">
          <div class="col text-center">
            <h2>Crear cuenta</h2>
          </div>
        </div>
      </mat-card-title>

      <mat-card-content>
        <form action="">

          <div class="row my-2">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">Nombre</mat-label>
                <input matInput required name="loginName" type="text" ngModel #name="ngModel" />
                <mat-error *ngIf="name.invalid">El nombre es obligatorio</mat-error>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">Apellidos</mat-label>
                <input matInput required name="loginLastName" type="text" ngModel #lastname="ngModel" />
                <mat-error *ngIf="lastname.invalid">El apellido es obligatorio</mat-error>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="row my-2">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">Fecha de nacimiento</mat-label>
                <input matInput required name="birthdate" type="text" ngModel #birthdate="ngModel" />
                <mat-error *ngIf="birthdate.invalid">La fecha de nacimiento es obligatoria  </mat-error>
                <mat-icon matSuffix>event</mat-icon>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">Género</mat-label>
                <input matInput required name="gender" type="text" ngModel #gender="ngModel" />
                <mat-error *ngIf="gender.invalid">El género es obligatorio</mat-error>
                <mat-icon matSuffix>info</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="row my-2">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">Teléfono</mat-label>
                <input matInput required name="loginName" type="text" ngModel #cellphone="ngModel" />
                <mat-error *ngIf="cellphone.invalid">El teléfono es obligatorio</mat-error>
                <mat-icon matSuffix>smartphone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label class="box-text">DNI</mat-label>
                <input matInput required name="dni" type="text" ngModel #dni="ngModel" />
                <mat-error *ngIf="dni.invalid">El DNI es obligatorio</mat-error>
                <mat-icon matSuffix>fact_check</mat-icon>
              </mat-form-field>
            </div>
          </div>

          <div class="row my-2">
            <mat-form-field appearance="outline">
              <mat-label class="box-text">Correo electrónico</mat-label>
              <input
                matInput
                required
                name="loginMail"
                type="email"
                ngModel
                #email="ngModel"
              />
              <mat-error *ngIf="email.invalid"
                >El correo es obligatorio</mat-error
              >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

          <div class="row my-2">
            <mat-form-field appearance="outline" >
              <mat-label class="box-text">Contraseña</mat-label>
              <input
                matInput
                type="password"
                required
                minlength="6"
                name="loginPass"
                ngModel
                #password="ngModel"
              />
              <mat-error *ngIf="password.errors && password.errors['required']">
                La contraseña es obligatoria
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors['minlength']"
              >
                La contraseña tiene un mínimo de 6 caracteres
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>

          <div class="row d-flex justify-content-center buttons-container">
            <button class="button auth my-5" routerLink="/dashboard/panel">
              Registrarme
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
