<div class="card">
  <div class="card-head">Registrar Alimentos</div>
  <div class="card-body">
    <form [formGroup]="form" (submit)="aceptar()">
      <div class="form-group">
        <mat-form-field style="margin-right: 20rem; width: 100%">
          <mat-label>id</mat-label>
          <input matInput placeholder="id" formControlName="id" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="margin-right: 20rem; width: 100%">
          <mat-label>Nombre del Alimento</mat-label>
          <input matInput placeholder="Name" formControlName="nameFood" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="margin-right: 20rem; width: 100%">
          <mat-label>N° Porciones</mat-label>
          <input
            matInput
            placeholder="N° Porciones"
            formControlName="portionsFood"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field style="margin-right: 20rem; width: 100%">
          <mat-label>Calorias</mat-label>
          <input
            matInput
            placeholder="Calorias"
            formControlName="caloriesFood"
          />
        </mat-form-field>
      </div>
      <div class="button-container">
        <div class="form-group">
          <button class="button accept" type="submit">Agregar</button>
          <button class="button cancel" routerLink="/foods">Cancelar</button>
        </div>
      <div class="form-group"></div>
      <p>{{ mensaje }}</p>
    </div>
  </form>

  <div class="card separate">
    <div id="carouselSlideGymPartner" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSlideGymPartner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselSlideGymPartner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselSlideGymPartner" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/carousel/slide4.png" class="d-block w-100" alt="img4">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tshadow">Organiza tus alimentos de manera sencilla</h5>
            <p class="tshadow">Con Gym Partner podrás administrar fácilmente tus alimentos y mantener un control de todas tus comidas</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/carousel/slide2.png" class="d-block w-100" alt="img2">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tshadow">Gestionar tus alimentos nunca fue tan fácil</h5>
            <p class="tshadow">Monitorea los alimentos que consumes y mantén una dieta con alimentos balanceados</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/carousel/slide3.png" class="d-block w-100" alt="img3">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tshadow">Observar tus alimentos que consumes es más sencillo de lo que imaginas</h5>
            <p class="tshadow">Podrás hacer seguimiento de los alimentos que consumes y podras monitorear los alimentos en tiempo real</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlideGymPartner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselSlideGymPartner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>
