<div class="card">

  <div class="card-head">Registrar Alimentos
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          placeholder="Buscar alimentos..."
          matInput
          #searchInput
          (input)="searchFoods(searchInput.value)"
        />
        <i class="far fa-search search-icon-right"></i>
      </div>
    </div>

  </div>


  <div class="card-body">
    <form [formGroup]="form" (submit)="accept()">
      <div class="row my-3">
        <mat-form-field
          appearance="outline"
          style="margin-right: 20rem; width: 100%"
        >
          <mat-label>Alimento</mat-label>
          <input matInput placeholder="Alimento" formControlName="name" />
          <mat-error *ngIf="form.controls['name'].invalid">
            El campo no puede estar vacío.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row my-3">
        <mat-form-field
          appearance="outline"
          style="margin-right: 20rem; width: 100%"
        >
          <mat-label>N° Porciones</mat-label>
          <input
            matInput
            placeholder="N° Porciones"
            formControlName="portions"
          />
          <mat-error *ngIf="form.controls['portions'].invalid">
            El campo no puede estar vacío.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row my-3">
        <mat-form-field
          appearance="outline"
          style="margin-right: 20rem; width: 100%"
        >
          <mat-label>Calorías</mat-label>
          <input matInput placeholder="Calorías" formControlName="calories" />
          <mat-error *ngIf="form.controls['calories'].invalid">
            El campo no puede estar vacío.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button class="button accept" type="submit">Agregar</button>
        <button class="button cancel" routerLink="/dashboard/foods">
          Cancelar
        </button>
      </div>
    </form>





      <div *ngIf="selectedFood" class="food-details">
        <h2>Detalles del alimento:</h2>
        <p><strong>Nombre:</strong> {{ selectedFood.food_name }}</p>
        <p><strong>Cantidad:</strong> {{ selectedFood.serving_qty }} {{ selectedFood.serving_unit }}</p>
        <p><strong>Peso por porción:</strong> {{ selectedFood.serving_weight_grams }} g</p>
        <p><strong>Calorías:</strong> {{ selectedFood.nf_calories }} kCal</p>
        <p><strong>Carbohidratos:</strong> {{ selectedFood.nf_total_carbohydrate }}</p>
      </div>


  </div>
</div>
