@media (min-width: 1200px) {
  .container{
      max-width: 650px;
  }
}

mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
mat-card-content {
  display: flex;
  justify-content: center;
}


.login-button {
  display: block;
  width: 230px;
  margin: 10px auto;
}
