<div class="vh-100 d-flex align-items-center login-bg">
  <div class="container">
    <mat-card class="card">
      <mat-card-title>
        <img
          class="logo"
          src="../../../../assets/gp_logo.png"
          alt="Logo circular"
        />
        <div class="row">
          <div class="col text-center">
            <h2>Iniciar sesión</h2>
          </div>
        </div>
      </mat-card-title>

      <mat-card-content>
        <form [formGroup]="loginForm">
          <div class="row my-2">
            <mat-form-field appearance="outline">
              <mat-label class="box-text">Correo electrónico</mat-label>
              <input
                matInput
                required
                name="loginMail"
                type="email"
                [formControl]="email"
              />
              <mat-error *ngIf="email.invalid"
                >El correo es obligatorio</mat-error
              >
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label class="box-text">Contraseña</mat-label>
              <input
                matInput
                type="password"
                required
                minlength="6"
                name="loginPass"
                [formControl]="password"
              />
              <mat-error *ngIf="password.errors && password.errors['required']">
                La contraseña es obligatoria
              </mat-error>
              <mat-error
                *ngIf="password.errors && password.errors['minlength']"
              >
                La contraseña tiene un mínimo de 6 caracteres
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>
          <mat-checkbox>Recordarme</mat-checkbox>
          <div class="row d-flex justify-content-center buttons-container">
            <button class="button auth my-3" (click)="login()">Ingresar</button>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="text-center">
              <p>
                ¿No tienes cuenta? <a routerLink="/auth/register">Registrate</a>
              </p>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
