<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">GP</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">GymPartner</div>
    <button
      class="btn-close"
      @rotate
      *ngIf="collapsed"
      (click)="closeSidenav()"
    >
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        *ngIf="showComponent(data)">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
    </li>
  </ul>
</div>

<!--
  Al marcarle false, se mantiene el color en el item a pesar que se cambie la pantalla a un componente
  hijo
  [routerLinkActiveOptions]="{exact: true}"
-->
