<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
          <input
            type="search"
            class="search"
            name=""
            id=""
            placeholder="Buscar..."
          />
          <i class="far fa-search search-icon"></i>
        </div>
        <div *ngIf="canShowSearchAsOverlay">
          <button
            [cdkMenuTriggerFor]="searchOverlay"
            class="search-menu-btn ripple"
          >
            <i class="far fa-search search-icon"></i>
          </button>

        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-expanded menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
          <img src="../../../assets/avatar.jpg" alt="user" class="user-avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall" cdMenu>
    <input type="search" class="search" name="" id="" placeholder="Buscar...">
    <button class="search-btn">
      <i class="far fa-search search-icon"></i>
    </button>
  </div>
</ng-template>

<ng-template #userOverlay>
<div class="overlay overlay-user overlay-fall" cdkMenu>
  <ul>
    <li *ngFor="let item of userItems" cdkMenuItem>
      <a>
        <i class="icon" [ngClass]="item.icon"></i>
        <span>{{item.label}}</span>
      </a>

    </li>
  </ul>
</div>
</ng-template>
