.row {
  display: flex;
  flex-direction: row;

  .col-left {
    width: 65%;
  }

  .col {
    margin: 20px 0 0 20px;
    width: 35%;
  }
}

.row-md {
  display: flex;
  flex-direction: column;

  .col-left {
    width: 100%;
  }
}

.mcard-col {
  .mcard {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    color: #495057;
    box-shadow: 0 0.25rem 0.5rem #e6edef;

    .icon {
      margin: auto 0 auto auto;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .bar {
      width: 5px;
      height: 45px;
      border-radius: 15px;
      margin-right: 15px;

      &.yellow {
        background: rgb(255, 233, 32);
      }

      &.green {
        background: rgb(65, 168, 25);
      }

      &.skyblue {
        background: rgb(5, 137, 224);
      }

      &.red {
        background: rgb(221, 4, 4);
      }
    }

    .details {
      font-size: 16px;
      font-weight: 600;

      p {
        font-weight: 400;
      }
    }
  }

  button {
    outline: 0;
    padding: 12px 17px;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    background-color: #212121;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    transition: background-color 0.1s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #e6e600;
      color: #212121;
    }
  }
}

.welcome-card {
  border-radius: 0.25rem;
  max-width: 1140px;

  .welcome-head-container {
    background-color: #212121;
    //background-image: url('../../../assets/welcome.png');
    color: #e6edef;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .col-left {
      flex: 0 0 auto;
      width: 58.3333333%;

      p {
        font-size: 14px;
        margin-top: 7px;
        font-weight: normal;
      }
    }

    .col-right {
      flex: 0 0 auto;
      width: 41.6666667%;
      text-align: right;
      img {
        margin-left: -17.5rem;
        width: 165%;
        height: auto;
        -webkit-user-drag: none;
        cursor: pointer;
      }
    }
  }
  .welcome-body-container {
    display: flex;
    flex-wrap: wrap;

    .col-left {
      flex: 0 0 auto;
      width: 33.3333333%;

      .avatar {
        margin-top: -36px;
        margin-bottom: 1.5rem;
        height: 4.5rem;
        width: 4.5rem;

        img {
          border-radius: 50%;
          padding: 0.25rem;
          background-color: #f8f8fb;
          border: 1px solid #f6f6f6;
          max-width: 100%;
          height: auto;
        }
      }

      .name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      p {
        color: #74788d;
        font-size: 14px;
      }
    }

    .col-right {
      flex: 0 0 auto;
      width: 66.666667%;

      .performance-container {
        .performance {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 400;
          color: #74788d;
        }

        .progress {
          display: flex;
          height: 7px;
          overflow: hidden;
          font-size: 0.75rem;
          background-color: #e9ecef;
          border-radius: 0.25rem;

          .progress-bar {
            width: 80%;
            background-color: rgb(65, 168, 25);
          }
        }
      }

      .view-profile {
        margin-top: 1rem;

        button {
          background-color: #212121;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: none;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 600;
          color: #fff;
          transition: background-color 0.1s ease-in-out, color 0.3s ease-in-out;

          &:hover {
            background-color: #e6e600;
            color: #212121;
          }

          .fa-arrow-right {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
