<h1>Clientes</h1>

<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-title">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td></ng-container
      >

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastname }}
        </td></ng-container
      >

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Género</th>
        <td mat-cell *matCellDef="let element">
          {{ element.gender }}
        </td></ng-container
      >

      <!-- Birth Date Column -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.birthDate }}
        </td></ng-container
      >

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button
          #tooltip="matTooltip"
          matTooltip="Historial médico"
          matTooltipPosition="below"
          color="primary">
            <mat-icon>medical_information</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            #tooltip="matTooltip"
            matTooltip="Planes nutricionales"
            matTooltipPosition="below"
            [routerLink]="[element.idUser, 'nutritional-plans']"
          >
            <mat-icon>restaurant</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            #tooltip="matTooltip"
            matTooltip="Planes de entrenamiento"
            matTooltipPosition="below"
            [routerLink]="[element.idUser, 'training-plans']"
          >
            <mat-icon>fitness_center</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
