<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Precios</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Landing page de la app Gym Partner" />
    <meta name="keywords" content="gym, fitness, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link href="images/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
      <a href="index.html" class="site-logo">
        <img src="images/logo.png" alt="" />
      </a>
      <ul class="main-menu">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="about.html">Sobre nosotros</a></li>
        <li><a class="active" href="pricing.html">Precios</a></li>
        <li><a href="contact.html">Contacto</a></li>
        <a href="login.html" class="site-btn">Iniciar sesión</a>
      </ul>
    </header>
    <div class="clearfix"></div>
    <!-- Header section end -->

    <!-- Page top section -->
    <section
      class="page-top-section set-bg"
      data-setbg="images/header-bg/2.jpg"
    >
      <div class="container">
        <h2>Precios</h2>
      </div>
    </section>
    <!-- Page top section end -->

    <!-- Service section -->
    <section class="service-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="icon-box-item">
              <div class="ib-icon">
                <img src="images/payments.png" alt="" />
              </div>
              <h4>Medios de pago</h4>
              <p>
                Aceptamos los siguientes medios de pagos BCP, BBVA, Interbank.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon-box-item">
              <div class="ib-icon">
                <img src="images/discounts.png" alt="" />
              </div>
              <h4>Descuentos</h4>
              <p>
                ¿Tienes sucursales? Aprovecha nuestros descuentos, solo
                necesitas contactarte con nosotros para acceder a este
                beneficio.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="icon-box-item">
              <div class="ib-icon">
                <img src="images/offers.png" alt="" />
              </div>
              <h4>Ofertas</h4>
              <p>
                Cada 4 meses estaremos anunciando ofertas imperdibles para que
                puedas beneficiarte.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service section end -->

    <!-- Pricing section -->
    <section class="pricing-section set-bg" data-setbg="images/pricing-bg.jpg">
      <div class="container">
        <div class="section-title text-white text-center">
          <h2>Elige el mejor <span>plan</span> para ti</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="pricing-box">
              <p>Plan Prueba</p>
              <h2>GRATIS</h2>
              <p>Duración: 3 días</p>
              <ul>
                <li><b>Gestión de cuentas</b></li>
                <li><span></span></li>
                <li>1 cuentas para entrenador</li>
                <li>1 cuentas para nutricionista</li>
                <li>5 cuentas para clientes</li>
              </ul>
              <a href="#" class="site-btn">Prueba</a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="pricing-box">
              <p>Plan Básico</p>
              <h2>S/.70</h2>
              <p>/mes</p>
              <ul>
                <li><b>Gestión de cuentas</b></li>
                <li><span></span></li>
                <li>5 cuentas para entrenador</li>
                <li>3 cuentas para nutricionista</li>
                <li>30 cuentas para clientes</li>
              </ul>
              <a href="#" class="site-btn">Básico</a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="pricing-box">
              <p>Plan Intermedio</p>
              <h2>S/.150</h2>
              <p>/mes</p>
              <ul>
                <li><b>Gestión de cuentas</b></li>
                <li><span></span></li>
                <li>25 cuentas para entrenador</li>
                <li>15 cuentas para nutricionista</li>
                <li>100 cuentas para clientes</li>
              </ul>
              <a href="#" class="site-btn">Intermedio</a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="pricing-box">
              <p>Plan Avanzado</p>
              <h2>S/.250</h2>
              <p>/mes</p>
              <ul>
                <li><b>Gestión de cuentas</b></li>
                <li><span></span></li>
                <li>65 cuentas para entrenador</li>
                <li>40 cuentas para nutricionista</li>
                <li>250 cuentas para clientes</li>
              </ul>
              <a href="#" class="site-btn">Avanzado</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing section end  -->

    <!-- Classes section -->
    <section class="classes-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <h2>
                ¿Deseas algún <span>plan personalizado?</span><br />
                Contáctanos
              </h2>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="classes-text">
              <p>
                Puedes armar un plan ideal para tu gimnasio, armar paquetes o
                priorizar más cantidad de los usuarios que requieras.
                Adquiriendo un plan personalizado obtendras una insignia de
                aliado destacado.
              </p>
              <a href="contact.html" class="site-btn">Enviar un mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Trainers section end -->

    <!-- Footer section -->
    <footer class="footer-section set-bg" data-setbg="images/footer-bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
              <h4>GYM PARTNER</h4>
              <div class="fw-info-widget">
                <div class="fw-info-text">
                  <p>
                    <b
                      >Gym Development | Todos los derechos reservados &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script></b
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
              <h4></h4>
              <div class="fw-info-box">
                <div class="fw-info-text">
                  <p></p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
              <h4>Contacto</h4>
              <div class="fw-info-box">
                <img src="images/icons/3.png" alt="" />
                <div class="footer-widget">
                  <p>contacto@gympartner.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
              <h4>Redes sociales</h4>
              <div class="fw-info-box">
                <div class="social-links">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 order-1 order-md-1"></div>
          <div class="col-md-6 order-1 order-md-1">
            <ul class="footer-menu">
              <li><a href="index.html">Inicio</a></li>
              <li><a href="about.html">Sobre nosotros</a></li>
              <li><a href="pricing.html">Precios</a></li>
              <li><a href="contact.html">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"
      integrity="sha512-6kvhZ/39gRVLmoM/6JxbbJVTYzL/gnbDVsHACLx/31IREU4l3sI7yeO0d4gw8xU5Mpmm/17LMaDHOCf+TvuC2Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
