<h1>Planes Nutricionales</h1>

<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
          (keyup)="filter($event)"
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button
        class="button accept"
        routerLink="/nutritional-plans/nutritional-plans-insert"
      >
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="card">
  <table mat-table [dataSource]="dataSource" class="mat gym-table">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titleNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.titleNutritionalPlan }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="statusNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.statusNutritionalPlan }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="objectiveNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Objetivo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.objectiveNutritionalPlan }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="descriptionNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">
        {{ element.descriptionNutritionalPlan }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDateNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Inicio</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDateNutritionalPlan | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="endDateNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Fin</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDateNutritionalPlan | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="recommendationsNutritionalPlan">
      <th mat-header-cell *matHeaderCellDef>Recomendaciones</th>
      <td mat-cell *matCellDef="let element">
        {{ element.recommendationsNutritionalPlan }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['update', element.id]"
          aria-label="Example icon button with a edit icon"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
