<h1>Planes Nutricionales</h1>

<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
          (keyup)="filter($event)"
          (search)="clearFilter()"
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button
        class="button accept"
        routerLink="/dashboard/nutritional-plans/insert"
      >
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="card">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.title }}
      </td>
    </ng-container>

    <!-- Objective Column -->
    <ng-container matColumnDef="objective">
      <th mat-header-cell *matHeaderCellDef>Objetivo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.objective }}
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">
        {{ element.description }}
      </td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Inicio</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- End date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Fin</th>
      <td mat-cell *matCellDef="let element">
        {{ element.endDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Recommendations Column -->
    <ng-container matColumnDef="recommendations">
      <th mat-header-cell *matHeaderCellDef>Recomendaciones</th>
      <td mat-cell *matCellDef="let element">
        {{ element.recommendations }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        <span
          class="badge bg-{{
            element.status ? 'success' : 'danger'
          }} text-white"
          (click)="toggleBadgeStatus(element.idNutritionalPlan, element.status)"
          style="cursor: pointer"
        >
          {{ element.status ? "Activo" : "Inactivo" }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          #tooltip="matTooltip"
          matTooltip="Agregar comida"
          matTooltipPosition="below"
          matTooltipHideDelay="60"
          [routerLink]="[element.idNutritionalPlan, 'meals']"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <button
          mat-icon-button
          #tooltip="matTooltip"
          matTooltip="Editar"
          [routerLink]="['update', element.idNutritionalPlan]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          #tooltip="matTooltip"
          matTooltip="Eliminar"
          color="primary"
          (click)="showDeletePopup(element.idNutritionalPlan)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
