<h1>Ejercicios</h1>
<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
          (keyup)="filter($event)"
          (search)="clearFilter()"
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button class="button accept" [routerLink]="['insert']">Agregar</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-title">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="portions">
        <th mat-header-cell *matHeaderCellDef>Porciones</th>
        <td mat-cell *matCellDef="let element">{{ element.portions }}</td>
      </ng-container>

      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>Calorias</th>
        <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="['update', element.idFood]">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="showDeletePopup(element.idFood)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
