<h1>Lista de Alimentos</h1>

<div class="card">
  <div class="card-body">
    Lista de alimentos que has registrado bajo tu nombre. Puedes añadir tantos
    como quieras y los podrás gestionar desde aquí

    <div class="button-container">
      <button class="button accept" routerLink="/foods/foods-insert">
        Agregar
      </button>
    </div>
  </div>
</div>

<div class="search-container">
  <div class="normal-search">
    <input
      type="search"
      class="search"
      name=""
      id=""
      placeholder="Buscar..."
      matInput
      (keyup)="filtrar($event)"
    />
    <i class="far fa-search search-icon"></i>
  </div>
</div>

<div class="card">
  <table mat-table [dataSource]="dataSource" class="mat foods-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <!--estatico -->
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Alimentos</th>
      <!--estatico -->
      <td mat-cell *matCellDef="let element">{{ element.nameFood }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="portions">
      <th mat-header-cell *matHeaderCellDef>Porciones (g)</th>
      <!--estatico -->
      <td mat-cell *matCellDef="let element">{{ element.portionsFood }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>Calorías (Kcal)</th>
      <!--estatico -->
      <td mat-cell *matCellDef="let element">{{ element.caloriesFood }}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['edicion', element.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openConfirmationDialog(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
