@use "@angular/material" as mat;

@include mat.core();

/*
$mssk-primary: mat-palette($mat-yellow, 600);
$mssk-accent: mat-palette($mat-light-green, 800);

$mssk-theme: mat-light-theme($mssk-primary, $mssk-accent);

@include angular-material-theme($mssk-theme);

.alternative {
  $mssk-primary: mat-palette($mat-yellow, 600);
  $mssk-accent: mat-palette($mat-light-green, 800);
  $mssk-theme: mat-light-theme($mssk-primary, $mssk-accent);
  @include angular-material-theme($mssk-theme);
}
*/

$light-theme: mat.define-light-theme(
    (
        color: (
          primary: mat.define-palette(mat.$grey-palette, 900),
          accent: mat.define-palette(mat.$yellow-palette, A400),
          // warn:
        ),
        typography: mat.define-typography-config(),
        density: 0,
      )
  );

@include mat.all-component-themes($light-theme);
