
<h1>Clientes</h1>
<div class="card">
  <div class="card-body">
    <div class="search-container">
      <div class="normal-search">
        <input
          type="search"
          class="search"
          name=""
          id=""
          placeholder="Buscar..."
          matInput
        />
        <i class="far fa-search search-icon"></i>
      </div>
    </div>

    <div class="button-container">
      <button class="button accept" [routerLink]="['gym-insert']">
        Agregar
      </button>
    </div>
  </div>
</div>
